body {
    background: #e6e5da;
    font-family: 'Arial', sans-serif;
}
ul,li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    -webkit-box-shadow: 0px 6px 8px -4px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 0px 6px 8px -4px rgba(34, 60, 80, 0.08);
    box-shadow: 0px 6px 8px -4px rgba(34, 60, 80, 0.08);
    padding: 10px 0;
}

.header_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.logo {
    width: 80px;
}

.logo img {
    width: 100%;
}
.nav_menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}

.nav_menu ul li a {
    text-decoration: none;
    color: #abaa72;
    font-weight: 700;
    text-transform: uppercase;
}
.nav_menu ul li a:hover {
    color: #8F8E5FFF;
}

.auth_header a {
    color: #abaa72;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.auth_header a:hover {
    color: #8F8E5FFF;
}
.content {
    text-align: center;
    margin-top: 30px;
}

.block_title {
    color: #e6e5da;
    background: #abaa72;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 30px;
}

.block_logo {
    position: relative;
    margin-bottom: 50px;
}
.block_logo::after {
    position: absolute;
    content: '';
    width: 45%;
    height: 2px;
    background: #abaa72;
    left: 0;
    top: 50%;
}
.block_logo::before {
    position: absolute;
    content: '';
    width: 45%;
    height: 2px;
    background: #abaa72;
    right: 0;
    top: 50%;
}

.block_logo img {
    width: 80px;
}

.block_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.item_image {
    height: 275px;
}
.item_image img {
    width: 100%;
}
.item_title {
    text-transform: uppercase;
    font-weight: 700;
    color: #abaa72;
}
.text-content {
    color: #abaa72;
    font-weight: 600;
    font-size: 18px;
    line-height: 2;
}
.users_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #abaa72;
    font-weight: 700;
    gap: 10px;
    margin-bottom: 50px;
}

.auth_form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}
.auth_form_wrapper {
    display: block;
    width: 50%;
}
.form-control {
    border: 1px solid #abaa72;
    border-radius: 30px;
    font-size: 18px;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.form-control:focus {
    outline: 1px solid #abaa72;
}
.auth_btn {
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #e6e5da;
    background: #abaa72;
    cursor: pointer;
    padding: 5px 20px;
}

.register_button {
    margin-top: 10px;
    color: #abaa72;
    font-size: 18px;
    text-decoration: none;
    display: block;
}
.auth_header button {
    background: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #abaa72;
}
